<div class="container my-5">
  <h1 class="mb-3">Ajout Employe</h1>
  <div class="row">
    <div class="col-6">

      <form #form="ngForm" (ngSubmit)="addEmployee()">
         <div class="mb-3">
           <label for="nom">Nom</label>
           <input type="text" class="form-control" id="nom"
           name="nom" [(ngModel)] ="addEmployeeRequest.nom">
         </div>

         <div class="mb-3">
          <label for="prenom">Prenom</label>
          <input type="text" class="form-control" id="prenom"
          name="prenom" [(ngModel)] ="addEmployeeRequest.prenom">
        </div>

        <div class="mb-3">
          <label for="matricule">Matricule</label>
          <input type="text" class="form-control" id="matricule"
          name="matricule" [(ngModel)] ="addEmployeeRequest.matricule">
        </div>

        <div class="mb-3">
          <label for="matricule_resp">Matricule_Responsable</label>
          <input type="text" class="form-control" id="matricule_resp"
          name="matricule_resp" [(ngModel)] ="addEmployeeRequest.matricule_resp">
        </div>


        <div class="mb-3">
          <label for="fonction">Fonction</label>
          <input type="text" class="form-control" id="fonction"
          name="fonction" [(ngModel)] ="addEmployeeRequest.fonction">
        </div>


        <div class="mb-3">
          <label for="role">Role</label>
          <input type="text" class="form-control" id="role"
          name="role" [(ngModel)] ="addEmployeeRequest.role">
        </div>


        <div class="mb-3">
          <label for="date_recrutement">Date_Recrutement</label>
          <input type="text" class="form-control" id="date_recrutement"
          name="date_recrutement" [(ngModel)] ="addEmployeeRequest.date_recrutement">
        </div>

        <div class="mb-3">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email"
          name="email" [(ngModel)] ="addEmployeeRequest.email">
        </div>

        <div class="mb-3">
          <label for="compte_winds">Compte_winds</label>
          <input type="text" class="form-control" id="compte_winds"
          name="compte_winds" [(ngModel)] ="addEmployeeRequest.compte_winds">
        </div>


    <button type="submit" class="btn btn-primary">Add Employee</button>
       </form>
    </div>
 </div>
</div>
