<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Tableau de bord</h1>
  </div>

  <!-- Content Row -->
  <div class="row">

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                  <div class="row">
                      <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0">Nombre d'employés</h5>
                          <span class="h2 font-weight-bold mb-0">550</span>
                      </div>
                      <div class="col-auto">
                          <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                              <i class="fas fa-chart-bar"></i>
                          </div>
                      </div>
                  </div>
                  <!-- <p class="mt-3 mb-0 text-muted text-sm">
                      <span class="text-success mr-2"><i class="fas fa-user"></i> 3.48%</span>
                      <span class="text-nowrap">Since last month</span>
                  </p> -->
              </div>
          </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                  <div class="row">
                      <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0">Nombre de demandes</h5>
                          <span class="h2 font-weight-bold mb-0">120</span>
                      </div>
                      <div class="col-auto">
                          <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                              <i class="fas fa-chart-pie"></i>
                          </div>
                      </div>
                  </div>
                  <!-- <p class="mt-3 mb-0 text-muted text-sm">
                      <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i>0.05%</span>
                      <span class="text-nowrap">Since last week</span>
                  </p> -->
              </div>
          </div>
      </div>


      <!--  Nombre d'acceptation -->
      <div class="col-xl-3 col-md-6 mb-4">
          <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                  <div class="row">
                      <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0">Demandes en attente</h5>
                          <span class="h2 font-weight-bold mb-0">34</span>
                      </div>
                      <div class="col-auto">
                          <div class="icon icon-shape bg-danger text-white  shadow">
                              <i class="fas fa-file"></i>
                          </div>
                      </div>
                  </div>
                  <!-- <p class="mt-3 mb-0 text-muted text-sm">
                      <span class="text-success mr-2"><i class="fas fa-arrow-up"></i>4.10%</span>
                      <span class="text-nowrap">Since last month</span>
                  </p> -->
              </div>
          </div>
      </div>

      <!-- Pending Requests Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">

          <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                  <div class="row">
                      <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0">Demandes en cours</h5>
                          <span class="h2 font-weight-bold mb-0">21</span>
                      </div>
                      <div class="col-auto">
                          <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                              <i class="fas fa-percent"></i>
                          </div>
                      </div>
                  </div>
                  <!-- <p class="mt-3 mb-0 text-muted text-sm">
                      <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                      <span class="text-nowrap">Since last month</span>
                  </p> -->
              </div>
          </div>
      </div>
  </div>


  <div class="row">

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                  <div class="row">
                      <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0">Demandes acceptées</h5>
                          <span class="h2 font-weight-bold mb-0">53</span>
                      </div>
                      <div class="col-auto">
                          <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                              <i class="fas fa-chart-bar"></i>
                          </div>
                      </div>
                  </div>
                  <!-- <p class="mt-3 mb-0 text-muted text-sm">
                      <span class="text-success mr-2"><i class="fas fa-user"></i> 10%</span>
                      <span class="text-nowrap">Since last month</span>
                  </p> -->
              </div>
          </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                  <div class="row">
                      <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0">Demandes refusées</h5>
                          <span class="h2 font-weight-bold mb-0">12</span>
                      </div>
                      <div class="col-auto">
                          <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                              <i class="fas fa-file"></i>
                          </div>
                      </div>
                  </div>
                  <!-- <p class="mt-3 mb-0 text-muted text-sm">
                      <span class="text-danger mr-2"><i class="fas fa-arrow-up"></i>12,5%</span>
                      <span class="text-nowrap">Since last week</span>
                  </p> -->
              </div>
          </div>
      </div>


      <!--  Nombre d'acceptation -->
      <div class="col-xl-3 col-md-6 mb-4">
          <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                  <div class="row">
                      <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0">Offres disponibles</h5>
                          <span class="h2 font-weight-bold mb-0">45</span>
                      </div>
                      <div class="col-auto">
                          <div class="icon icon-shape bg-danger text-white  shadow">
                              <i class="fas fa-file"></i>
                          </div>
                      </div>
                  </div>
                  <!-- <p class="mt-3 mb-0 text-muted text-sm">
                      <span class="text-success mr-2"><i class="fas fa-arrow-up"></i>5%</span>
                      <span class="text-nowrap">Since last month</span>
                  </p> -->
              </div>
          </div>
      </div>

      <!-- Pending Requests Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">

          <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                  <div class="row">
                      <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0">Postes vacants</h5>
                          <span class="h2 font-weight-bold mb-0">86</span>
                      </div>
                      <div class="col-auto">
                          <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                              <i class="fas fa-percent"></i>
                          </div>
                      </div>
                  </div>
                  <!-- <p class="mt-3 mb-0 text-muted text-sm">
                      <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 0.5%</span>
                      <span class="text-nowrap">Since last month</span>
                  </p> -->
              </div>
          </div>
      </div>
  </div>

<div class="row">
  <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div
              class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Total</h6>
              <div class="dropdown no-arrow">
                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                      aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                  </div>
              </div>
          </div>
          <!-- Card Body -->
          <div class="card-body">
              <div class="chart-area">
                  <canvas id="MyPie"></canvas>
              </div>
          </div>
      </div>
  </div>


  <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div
              class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Les postes vacants</h6>
              <div class="dropdown no-arrow">
                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                  </a>

              </div>
          </div>
          <!-- Card Body -->
          <div class="card-body">
              <div class="chart-area" >

                  <canvas id="myChart"></canvas>
              </div>
          </div>
      </div>
  </div>
</div>




      <!-- Content Row -->
      <div class="row">

          <!-- Content Column -->
          <div class="col-lg-6 mb-4">

              <!-- Project Card Example -->


              <!-- Color System -->




              <div class="row">
                  <!-- Left col -->

                  <!-- /.card -->




              </div>

          </div>

          <div class="col-lg-6 mb-4">
              <canvas id="myChart" width="400" height="400"></canvas>
              <script>
                  var ctx = document.getElementById('myChart').getContext('2d');
                  var myChart = new Chart(ctx, {
                      type: 'bar',
                      data: {
                          labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                          datasets: [{
                              label: '# of Votes',
                              data: [12, 19, 3, 5, 2, 3],
                              backgroundColor: [
                                  'rgba(255, 99, 132, 0.2)',
                                  'rgba(54, 162, 235, 0.2)',
                                  'rgba(255, 206, 86, 0.2)',
                                  'rgba(75, 192, 192, 0.2)',
                                  'rgba(153, 102, 255, 0.2)',
                                  'rgba(255, 159, 64, 0.2)'
                              ],
                              borderColor: [
                                  'rgba(255, 99, 132, 1)',
                                  'rgba(54, 162, 235, 1)',
                                  'rgba(255, 206, 86, 1)',
                                  'rgba(75, 192, 192, 1)',
                                  'rgba(153, 102, 255, 1)',
                                  'rgba(255, 159, 64, 1)'
                              ],
                              borderWidth: 1
                          }]
                      },
                      options: {
                          scales: {
                              yAxes: [{
                                  ticks: {
                                      beginAtZero: true
                                  }
                              }]
                          }
                      }
                  });
              </script>
          </div>
      </div>

  </div>
