<div class="main-card mb-3 card">
	<div class="card-header">
		<div class="card-header-title font-size-lg text-capitalize font-weight-normal">les Statuts du demandes </div>
	</div>
	<div class="table-responsive">
		<table class="align-middle text-truncate mb-0 table table-borderless table-hover">
			<thead>
				<tr>
					<th class="text-center">Nom</th>
					<th class="text-center">Offre</th>

					<th class="text-center">Statut demande</th>
					<th class="text-center">Chef</th>
					<th class="text-center">RH</th>
					<th class="text-center">DS</th>

				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let i of listedemande">
					<td class="text-center" >{{i.type_demande}}</td>
					<td class="text-center">{{i.titre_fonction}}</td>

					<td class="text-center">
            <ng-container *ngIf="i.statut_chef=='accepter' && i.statut_ds=='en cours' && i.statut_rh=='en attente';else templateName">
              <span class="badge badge-pill badge-info">en attente</span>
            </ng-container>
              <ng-template #templateName>
                <ng-container *ngIf="i.statut_chef=='accepter' && i.statut_ds=='en attente' && i.statut_rh=='accepter'">
                  <span class="badge badge-pill badge-info">en attente</span>
                </ng-container>
              </ng-template>

              <div *ngIf=" i.statut_rh=='en cours'|| i.statut_chef=='en attente'|| i.statut_ds=='en cours'">
                <span class="badge badge-pill badge-primary">en cours</span>
              </div>

              <ng-container *ngIf="i.statut_chef=='refuse' && i.statut_ds=='en cours' && i.statut_rh=='en cours';else template">
                <span class="badge badge-pill badge-danger">refuse</span>
              </ng-container>
                <ng-template #template>
                  <ng-container *ngIf="i.statut_chef=='accepter' && i.statut_ds=='en cours' && i.statut_rh=='refuse'else template2">
                    <span class="badge badge-pill badge-danger">refuse</span>
                  </ng-container>
                </ng-template>
                <ng-template #template2>
                  <ng-container *ngIf="i.statut_chef=='accepter' && i.statut_ds=='refuse' && i.statut_rh=='accepter'">
                    <span class="badge badge-pill badge-danger">refuse</span>
                  </ng-container>
                </ng-template>


                <div *ngIf="i.statut_chef=='accepter' && i.statut_ds=='accepter' && i.statut_rh=='accepter'">
            <span class="badge badge-pill badge-success">accepter</span>

          </div>

         </td>
					<td class="text-center">
            <div *ngIf=" i.statut_chef=='refuse'">
              <span class="badge badge-pill badge-danger">refuse</span>
            </div>
            <div *ngIf=" i.statut_chef=='en attente'">
              <span class="badge badge-pill badge-info">en attente</span>
            </div>
            <div *ngIf=" i.statut_chef=='en cours'">
              <span class="badge badge-pill badge-info">en cours</span>
            </div>
            <div *ngIf=" i.statut_chef=='accepter'">
              <span class="badge badge-pill badge-success">accepter</span>

            </div>
          </td>
					<td class="text-center">
            <div *ngIf=" i.statut_rh=='refuse'">
              <span class="badge badge-pill badge-danger">refusé</span>
            </div>
            <div *ngIf=" i.statut_rh=='en attente'">
              <span class="badge badge-pill badge-info">en attente</span>
            </div>
            <div *ngIf=" i.statut_rh=='accepter'">
              <span class="badge badge-pill badge-success">accepter</span>

            </div>
            <div *ngIf=" i.statut_chef=='en cours'">
              <span class="badge badge-pill badge-info">en cours</span>
            </div>
          </td>
        		<td class="text-center">
            <div *ngIf=" i.statut_ds=='refuse'">
              <span class="badge badge-pill badge-danger">refusé</span>
            </div>
            <div *ngIf=" i.statut_ds=='en attente'">
              <span class="badge badge-pill badge-info">en attente</span>
            </div>
            <div *ngIf=" i.statut_chef=='en cours'">
              <span class="badge badge-pill badge-info">en cours</span>
            </div>
            <div *ngIf=" i.statut_ds=='accepter'">
              <span class="badge badge-pill badge-success">accepte</span>

            </div>
          </td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
