<div class="container my-5">
  <h1 class="mb-3">les demandes à traiter</h1>

<div class="table-responsive">
<table datatable class="table datatable" [dtOptions]="dtoption" [dtTrigger]="dtrigger" *ngIf="demandes && demandes.length >0">
  <thead>
    <tr>

      <th>Matricule</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Fonction</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let demande of TableData">
      <td>{{ demande.matricule}}</td>
      <td>{{ demande.nom}}</td>
      <td>{{ demande.prenom}}</td>
      <td>{{ demande.fonction}}</td>
       <td class="text-center">
        <div class="btn-group-sm btn-group" role="group">
          <button class="btn-delete btn btn-primary"(click)="goToDetails(demande)" >Traiter</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<p *ngIf="!demandes || demandes.length <= 0">Aucune demande trouvée</p>
</div>

<!--{{demandes | json}}-->
