<div class="container">
<div class="text">
<form class="user">
     <div class="form-group">
       <label for="exampleFormControlInput1">Nom</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
     </div>
     <div class="form-group">
        <label for="exampleFormControlInput1">Prenom</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
     </div>
      <h1 class="h4 text-gray-900 mb-4">Diplome :</h1>
     <div class="form-group">
        <label for="exampleFormControlInput1">Nom_diplome</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
    </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Lieu_diplome</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
    </div>
      <h2 class="h4 text-gray-900 mb-4">Experience :</h2>
    <div class="form-group">
        <label for="exampleFormControlInput1">Poste</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Date_début</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Date_fin</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Entreprise</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
    </div>
       <h3 class="h4 text-gray-900 mb-4">Certification :</h3>
    <div class="form-group">
        <label for="exampleFormControlInput1">Nom-certif</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
    </div>
       <h4 class="h4 text-gray-900 mb-4">Technologie :</h4>
    <div class="form-group">
        <label for="exampleFormControlInput1">Nom_technologie</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
    </div>

    <a href="#" class="btn btn-primary btn-user btn-block">
      Creer
    </a>

  </form>
</div>
