<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Bienvenue</h1>
        <p class="text-white mt-0 mb-2">Voici votre page de profil. Vous pouvez remplir ce formulaire et gérer vos renseignements et votre profil</p>
        <a href="#!" class="btn btn-info">Modifier profil</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="assets/theme/12.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between"></div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5"></div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              Nom:<span class="font-weight-light"> 27</span>
            </h3>
            <h3>
              Prénom:<span class="font-weight-light"> 27</span>
            </h3>
            <h3>
              Matricule:<span class="font-weight-light"> 27</span>
            </h3>
            <h3>
              Matricule responsable:<span class="font-weight-light"> 27</span>
            </h3>
            <h3>
              Email:<span class="font-weight-light"> 27</span>
            </h3>
            <h3>
              compte Windows:<span class="font-weight-light"> 27</span>
            </h3>

            <!--<div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>Bucharest, Romania
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>University of Computer Science
            </div>
            <hr class="my-4" />
            <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music.</p>
            <a href="javascript:void(0)">Show more</a>-->
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Mon profil</h3>
            </div>
            <div class="col-4 text-right">
              <a routerLink="/employee/voir-profil" class="btn btn-sm btn-primary">Mettre à jour</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form #form="ngForm" (ngSubmit)="addEmployee()">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="nom">Nom</label>
                    <input type="text" id="nom" class="form-control form-control-alternative" placeholder="Nom"
                    name="nom" [(ngModel)] ="addEmployeeRequest.nom">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="prenom">Prenom</label>
                    <input type="text" id="prenom" class="form-control form-control-alternative" placeholder="Prenom"
                    name="prenom" [(ngModel)] ="addEmployeeRequest.prenom">
                  </div>
                </div>
              </div>
              <hr class="my-4" />
            <!-- Diplome -->
            <h6 class="heading-small text-muted mb-4">Diplôme</h6>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="diplome">Nom diplôme</label>
                    <input type="text" id="nom_diplome" class="form-control form-control-alternative" placeholder="Nom diplôme"
                    name="nom_diplome" [(ngModel)] ="addEmployeeRequest.diplomes">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="lieu_diplome">Lieu diplôme</label>
                    <input type="email" id="lieu_diplome" class="form-control form-control-alternative" placeholder="Lieu diplôme"
                    name="lieu_diplome" [(ngModel)] ="addEmployeeRequest.diplomes">
                  </div>
                </div>
              </div>
              <hr class="my-4" />
              <!-- Experience -->
            <h6 class="heading-small text-muted mb-4">Experience</h6>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="poste">Poste</label>
                    <input type="text" id="poste" class="form-control form-control-alternative" placeholder="Poste"
                    name="poste" [(ngModel)] ="addEmployeeRequest.experiences">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="entreprise">Entreprise</label>
                    <input type="text" id="entreprise" class="form-control form-control-alternative" placeholder="Entreprise"
                    name="entreprise" [(ngModel)] ="addEmployeeRequest.experiences">

                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="date_debut">Date_debut</label>
                    <input type="text" id="date_debut" class="form-control form-control-alternative" placeholder="jj-mm-aaaa"
                    name="date_debut" [(ngModel)] ="addEmployeeRequest.experiences">
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="date_fin">Date_fin</label>
                    <input type="text" id="date_fin" class="form-control form-control-alternative" placeholder="jj-mm-aaaa"
                    name="date_fin" [(ngModel)] ="addEmployeeRequest.experiences">
                  </div>
                </div>
              </div>
              <hr class="my-4" />
              <!-- Certification -->
            <h6 class="heading-small text-muted mb-4">Certification</h6>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="nom_certif">Nom certification</label>
                  <input type="text" id="nom_certif" class="form-control form-control-alternative" placeholder="Nom certification"
                  name="nom_certif" [(ngModel)] ="addEmployeeRequest.certifications">
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Technologies-->
            <h6 class="heading-small text-muted mb-4">Technologie</h6>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="nom_techno">Nom Technologie</label>
                  <input type="text" id="nom_techno" class="form-control form-control-alternative" placeholder="Nom technologie"
                  name="nom_techno" [(ngModel)] ="addEmployeeRequest.technologies">
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <!--<h6 class="heading-small text-muted mb-4">About me</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label>About Me</label>
                <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
              </div>
            </div>-->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="container">
<div class="text">
<form class="user">
     <div class="form-group">
       <label for="exampleFormControlInput1">Nom</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
     </div>
     <div class="form-group">
        <label for="exampleFormControlInput1">Prenom</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
     </div>
      <h1 class="h4 text-gray-900 mb-4">Diplome :</h1>
     <div class="form-group">
        <label for="exampleFormControlInput1">Nom_diplome</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
    </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Lieu_diplome</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
    </div>
      <h2 class="h4 text-gray-900 mb-4">Experience :</h2>
    <div class="form-group">
        <label for="exampleFormControlInput1">Poste</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Date_début</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Date_fin</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Entreprise</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
    </div>
       <h3 class="h4 text-gray-900 mb-4">Certification :</h3>
    <div class="form-group">
        <label for="exampleFormControlInput1">Nom-certif</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
    </div>
       <h4 class="h4 text-gray-900 mb-4">Technologie :</h4>
    <div class="form-group">
        <label for="exampleFormControlInput1">Nom_technologie</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
    </div>

    <a href="#" class="btn btn-primary btn-user btn-block">
      Creer
    </a>

  </form>
</div>-->
