<div id="wrapper">

  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center">
          <div class="sidebar-brand-icon">
              <i class="fas fa-user-circle"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Employé</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->


      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
          Interface
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
          <a class="nav-link " routerLink="/employee/creer-profil">
              <i class="fas fa-user-edit"></i>
              <span>Créer profil</span>
          </a>
      </li>

      <li class="nav-item">
        <a class="nav-link " routerLink="/employee/voir-profil">
            <i class="fas fa-eye"></i>
            <span>Voir profil</span>
        </a>
    </li>

      <li class="nav-item">
        <a class="nav-link " routerLink="/employee/offres-dispo">
           <i class="fas fa-list-ul"></i>
            <span>Offres disponibles</span>
        </a>
    </li>

      <li class="nav-item">
        <a class="nav-link " routerLink="/employee/mes-dem">
          <i class="fas fa-file-alt"></i>
          <span>Mes demandes</span>
        </a>
     </li>

      <!--<li class="nav-item">
      <a class="nav-link " routerLink="/employee/notif">
         <i class="fas fa-bell"></i>
      <span>Notification</span>
      </a>
     </li>-->

  </ul>
  <!-- End of Sidebar -->
   <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

              <!-- Sidebar Toggle (Topbar) -->
              <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                  <i class="fa fa-bars"></i>
              </button>
               <!-- Topbar Navbar -->
              <ul class="navbar-nav ml-auto">
                  <!-- Nav Item - User Information -->
                  <li class="nav-item dropdown no-arrow">
                      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="mr-2 d-none d-lg-inline text-gray-600 small">Employé</span>
                          <img class="img-profile rounded-circle"
                              src="assets/theme/user1.png">
                      </a>
                      <!-- Dropdown - User Information -->
                      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                          aria-labelledby="userDropdown">
                          <a class="dropdown-item" (click)="logout()" >
                              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                              Déconnexion
                          </a>
                      </div>
                  </li>

              </ul>

          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <router-outlet></router-outlet>
          <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
      <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
